<div class="login-box">
    <h2>Login</h2>
    <form>
      <label>Email:</label>
      <input type="text" name="username" required />
  
      <label>Password:</label>
      <input type="password" name="password" required />
  
      <button type="submit">Login</button>
    </form>
  
    <!-- Registration Box -->
    <div class="register-box">
      <p>Don't have an account?</p>
     <!-- Open Registration Popup -->
     <button class="register-button" routerLink="/register">Register</button>

    </div>
  </div>
  